<div style=" margin-top: 100px; ">
<form class="qr-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    
    <mat-form-field class="qr-full-width">
      <mat-label>DNI</mat-label>
      <input matInput required  ngModel name="dni" >
    </mat-form-field>
  
    <mat-form-field class="qr-full-width">
      <mat-label>Nro protocolo</mat-label>
      <input matInput required   name="protocolo" ngModel >
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button  color="accent">Generar QR</button>
    </div>
  </form>
  <img *ngIf="showQr==true" [src]="imageQr" alt="QRimage">
</div>